Error Logger.json
{
  "name": "Error Logger",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d2380503-5e28-4ee0-b4fb-1113229d8c8e",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1NdaLWcR-zm9iuskoHgJzazD3EReEXI-y5ILPc2Ja7JA",
          "mode": "list",
          "cachedResultName": "KPIs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NdaLWcR-zm9iuskoHgJzazD3EReEXI-y5ILPc2Ja7JA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 133170337,
          "mode": "list",
          "cachedResultName": "Error_Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NdaLWcR-zm9iuskoHgJzazD3EReEXI-y5ILPc2Ja7JA/edit#gid=133170337"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "execution",
              "displayName": "execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HTTP_CODE",
              "displayName": "HTTP_CODE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error_Message",
              "displayName": "Error_Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "workflow",
              "displayName": "workflow",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "fbe91fa2-b427-4c05-a507-b3db94c7400f",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Tj2xi5A0N2Jl6VC7",
          "name": "Anas"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f84c8b85-b2b4-46a3-9498-c3d874fadad4",
              "name": "execution.url",
              "value": "={{ $json.execution.url }}",
              "type": "string"
            },
            {
              "id": "7df7444a-375a-4c9f-8a0b-d1506ff7fcc7",
              "name": "execution.id",
              "value": "={{ $json.execution.id }}",
              "type": "string"
            },
            {
              "id": "2ba444b3-5361-4c0d-b6bf-3a676e4d26aa",
              "name": "timestamp",
              "value": "={{$now}}",
              "type": "string"
            },
            {
              "id": "9c858e61-15cd-434e-b19f-35c1ce5538f2",
              "name": "HTTP_CODE",
              "value": "={{ $json.execution.error.httpCode }}",
              "type": "string"
            },
            {
              "id": "531d28c8-3b3a-4fb7-89fe-ced9e537bfad",
              "name": "Error_Message",
              "value": "={{ $json.execution.error.message }}",
              "type": "string"
            },
            {
              "id": "0babf62b-2fd9-4eeb-b247-562b09d3eacb",
              "name": "workflow",
              "value": "={{ $json.workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "5a6a72fc-7b03-4b05-9367-d0035e85facf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## ⚠️ Error Handling\nIf any node in those workflows fails, the error is automatically caught. It logs the failure details into Google Sheets, where the KPI tracker dashboard displays the live error count.",
        "height": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -272,
        -32
      ],
      "typeVersion": 1,
      "id": "1006560d-eb85-4846-bf91-fd4537512f38",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {
    "Error Trigger": [
      {
        "json": {
          "execution": {
            "id": "752",
            "url": "https://n8n-latest-ydsf.onrender.com/workflow/5ncSNvMjIy3dKX9r5H7WS/executions/752",
            "error": {
              "level": "warning",
              "tags": {},
              "description": "Not Found",
              "timestamp": 1772469072278,
              "context": {
                "itemIndex": 0,
                "request": {
                  "headers": {
                    "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
                    "Authorization": "**hidden**"
                  },
                  "method": "GET",
                  "uri": "https://app.clio.com/api/v4/contactsz.json?query=talent.legal-engineer.hackathon.automation-email@swans.co\"&fields=id,name,matters",
                  "gzip": true,
                  "rejectUnauthorized": true,
                  "followRedirect": true,
                  "resolveWithFullResponse": true,
                  "sendCredentialsOnCrossOriginRedirect": true,
                  "followAllRedirects": true,
                  "timeout": 300000,
                  "qs": {
                    "fields": "id,name"
                  },
                  "encoding": null,
                  "json": false,
                  "useStream": true
                }
              },
              "functionality": "regular",
              "name": "NodeApiError",
              "node": {
                "parameters": {
                  "curlImport": "",
                  "method": "GET",
                  "url": "=https://app.clio.com/api/v4/contactsz.json?query=talent.legal-engineer.hackathon.automation-email@swans.co\"&fields=id,name,matters",
                  "authentication": "genericCredentialType",
                  "genericAuthType": "oAuth2Api",
                  "provideSslCertificates": false,
                  "sendQuery": true,
                  "specifyQuery": "keypair",
                  "queryParameters": {
                    "parameters": [
                      {
                        "name": "fields",
                        "value": "id,name"
                      }
                    ]
                  },
                  "sendHeaders": false,
                  "sendBody": false,
                  "options": {},
                  "infoMessage": ""
                },
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.3,
                "position": [
                  112,
                  432
                ],
                "id": "cc44bb17-0c22-48af-85d4-1f72711a1c92",
                "name": "Get Contact ID1",
                "credentials": {
                  "oAuth2Api": {
                    "id": "ZyLuEy18Qhp6Wt79",
                    "name": "Clio"
                  }
                }
              },
              "messages": [
                "404 - \"{\\\"status\\\":404,\\\"error\\\":\\\"Not Found\\\"}\""
              ],
              "httpCode": "404",
              "message": "The resource you are requesting could not be found",
              "stack": "NodeApiError: The resource you are requesting could not be found\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts:864:16)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1659:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2302:11"
            },
            "lastNodeExecuted": "Get Contact ID1",
            "mode": "webhook",
            "executionContext": {
              "version": 1,
              "establishedAt": 1772469071198,
              "source": "webhook",
              "triggerNode": {
                "name": "Webhook",
                "type": "n8n-nodes-base.webhook"
              }
            }
          },
          "workflow": {
            "id": "5ncSNvMjIy3dKX9r5H7WS",
            "name": "Response Handler"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4265f79f-5152-4fec-a6e3-c91cc0dbc1f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e293711f704af7603502480ad2120188d5c27e9daa8f96b442cde50ae10794ea"
  },
  "id": "1Di2370F4GeeOhCZ",
  "tags": []
}